@import '~bootstrap/scss/bootstrap';
@import './players';

@import '../app/modules/app/components/menu/menu.component';
@import '../app/modules/weather/components/view/view.component';
@import '../app/modules/weather/components/report/report.component';
@import '../app/modules/quiz/components/view/view.component';
@import '../app/modules/football/components/available-list/available-list.component';
@import '../app/modules/football/components/selected-list/selected-list.component';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}